Source: saunafs
Section: admin
Priority: extra
Maintainer: LeilFS <support@leil.io>
Build-Depends: debhelper (>= 9),
# Probably half the packages are not needed, but we need a thorough review of
# this
               cmake (>= 2.8),
               libfuse3-dev,
               pkg-config,
               zlib1g-dev,
               libspdlog-dev,
               libfmt-dev,
               libjudy-dev,
               libboost-system-dev,
               libboost-program-options-dev,
               libboost-filesystem-dev,
               python3,
               libyaml-cpp-dev,
	       liburcu-dev,
	       libblkid-dev,
	       libboost-filesystem-dev,
	       libboost-iostreams-dev,
	       libboost-program-options-dev,
	       libboost-system-dev,
	       libcrcutil-dev,
	       libdb-dev,
	       libfmt-dev,
	       libfuse3-dev,
	       libgoogle-perftools-dev,
	       libgtest-dev,
	       libisal-dev,
	       libpam0g-dev,
	       libspdlog-dev,
	       libsystemd-dev,
	       libthrift-dev,
	       libtirpc-dev,
	       liburcu-dev,
	       libyaml-cpp-dev,
	       uuid-dev,
	       zlib1g-dev,
	       libacl1-dev,
	       libcap-dev,
	       libdbus-1-dev,
	       libacl1-dev,
	       libcap-dev,
	       libdbus-1-dev,
	       libjemalloc-dev,
	       libkrb5-dev,
	       libnfsidmap-dev,
	       libnsl-dev,
	       libsqlite3-dev,
Rules-Requires-Root: no
Standards-Version: 3.9.3
Homepage: https://leil.io/

Package: saunafs-dbg
Architecture: any
Section: debug
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugging symbols for LeilFS
 Debugging symbols for all LeilFS binaries

Package: saunafs-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         adduser
Description: LeilFS common files
 Files and services common for all LeilFS daemons.
 .
 This package also offers helper scripts to manage
 migrations between major versions and other utilities.


Package: saunafs-master
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Description: LeilFS master server
 LeilFS master (metadata) server.

Package: saunafs-metalogger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Description: LeilFS metalogger server
 LeilFS metalogger (metadata replication) server.

Package: saunafs-chunkserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-common
Description: LeilFS data server
 LeilFS data server.

Package: saunafs-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, bash-completion
Description: LeilFS client
 LeilFS clients: leil-mount and leil tools.

Package: saunafs-lib-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LeilFS client C/C++ library
 LeilFS client library for C/C++ bindings.

Package: saunafs-nfs-ganesha
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-lib-client
Description: LeilFS plugin for nfs-ganesha
 LeilFS fsal plugin for nfs-ganesha.

Package: saunafs-adm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LeilFS administration tools
 LeilFS administration tools: leil-admin

Package: saunafs-cgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         python3
Description: LeilFS CGI Monitor
 LeilFS CGI Monitor.

Package: saunafs-cgiserv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, saunafs-cgi,
         python3,
         python3-chardet
Description: Simple CGI-capable HTTP server to run LeilFS CGI Monitor
 Simple CGI-capable HTTP server to run LeilFS CGI Monitor.

Package: saunafs-uraft
Architecture: any
Depends: saunafs-master,
         saunafs-adm,
         iputils-arping,
         sudo,
         ${shlibs:Depends},
Description: LeilFS cluster management tool
 LeilFS is a distributed filesystem.
 .
 This package offers means for simplified LeilFS deployment
 on cluster infrastructure.
