[Unit]
Description=LeilFS CGI server daemon
Documentation=man:leil-cgiserver
After=network-online.target network.target

[Service]
Environment=BIND_HOST=0.0.0.0
Environment=BIND_PORT=9425
Environment=ROOT_PATH=/usr/share/leil-cgi
EnvironmentFile=-/etc/default/%p
ExecStart=/usr/sbin/leil-cgiserver -H ${BIND_HOST} -P ${BIND_PORT} -R ${ROOT_PATH}
Restart=on-abort
User=leil

[Install]
WantedBy=multi-user.target
