[Unit]
Description=LeilFS chunkserver daemon
Documentation=man:sfschunkserver
After=network-online.target network.target

[Service]
Type=forking
TimeoutSec=0
ExecStart=/usr/sbin/leil-chunkserver start
ExecStop=/usr/sbin/leil-chunkserver stop
ExecReload=/usr/sbin/leil-chunkserver reload
Restart=on-abort

[Install]
WantedBy=multi-user.target
